.env
venv
backend/__pycache__
image.png
backend/agent/__pycache__/sql_agent.cpython-312.pyc
backend/agent/__pycache__/sql_tool.cpython-312.pyc
backend/agent/__pycache__/agent.cpython-312.pyc
backend/agent/__pycache__/agent.cpython-312.pyc
backend/agent/__pycache__
backend\agent\__pycache__\agent.cpython-312.pyc
\backend\agent\__pycache__